ollama
langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-ollama
langchain-text-splitters
docx2txt
pdf2txt

chromadb

sentence-transformers
transformers
torch

pypdf
python-docx
markdown

unstructured[pdf]

tqdm
